name: CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "**"
  # Able to call by other workflow
  workflow_call:
  # Able to call on GitHub
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  markdown_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: articulate/actions-markdownlint@v1
        with:
          config: .markdownlint.yaml
          files: '*.md'
          ignore: target
          version: 0.28.1

  build_ros2_jazzy:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-ros-jazzy-ros-base-latest
    steps:
    - uses: ros-tooling/setup-ros@v0.7
      with:
        required-ros-distributions: jazzy

    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Build the project
      shell: bash
      run: "source /opt/ros/jazzy/setup.bash && cd r2r_simple_examples && cargo build"
